
@{
    ViewBag.Title = "Detalle de Factura";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <br>

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Agregar Producto</h1>

    <br>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Agregar</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md my-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="productId">Producto</label>
                                </div>
                                <select class="custom-select" id="productsSelect" name="productId">
                                    <option selected>Seleccionar...</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md my-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="cantidad">Cantidad</label>
                                </div>
                                <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="0" aria-label="Ingrese la cantidad de Productos" aria-describedby="addon-wrapping" />
                            </div>
                        </div>

                        <div class="col-sm my-2">
                            <div class="input-group justify-content-center">
                                <a id="btnSave" class="btn btn-block mx-5 btn-primary">Agregar</a>
                            </div>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>

    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Productos Agregados a la Factura</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th>Eliminar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
@section Scripts
{
    <script type="text/javascript">

        const orderId = @Url.RequestContext.RouteData.Values["id"];
        console.log(orderId)
        const url = 'https://localhost:44393' + '@Url.Action("CreateOrderDetail")';
        console.log(url);
        $(function () {
            LoadData();
            LoadAllProducts()

            function LoadData() {
                $("#dataTable tbody tr").remove();
                $.ajax({
                    url: 'https://localhost:44393' + '@Url.Action("GetOrderDetailsById")' + '/' + orderId,
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        $.each(data, function (i, item) {
                            var rows = "<tr id='row" + item.OrderID + '-' + item.OrderDetailID + "'>"
                                + "<td>" + 'CLIENTE CTMR!!!!' + "</td>"
                                + "<td>" + item.Product?.ProductName + "</td>"
                                + "<td>" + item.Quantity + "</td>"
                                + "<td>" + item.Product?.Price + "</td>"
                                + "<td>" + Math.round(item.Product?.Price ? (item.Product.Price * item.Quantity) : 0) + "</td>"
                                + "<td><a type='button' class='btn btn-danger' onclick='deleteDetail(" + item.OrderDetailID + ")'>Eliminar</a></td>"
                                + "</tr>";
                            $("#dataTable tbody").append(rows);
                        })
                    },
                    error: function (response) {
                        console.log('ERROR')
                        console.log(response)
                    }
                });

                return false;
            }

            function LoadAllProducts() {
                $.ajax({
                    url: 'https://localhost:44393' + '@Url.Action("GetProducts")',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log('LoadAllProducts');
                        console.log(data);
                        $.each(data, function (i, item) {
                            var option = `<option value=${item.ProductID}>${item.ProductName}</option>`;
                            $("#productsSelect").append(option);
                        })
                    },
                    error: function (response) {
                        console.log('ERROR')
                        console.log(response)
                    }
                });

                return false;
            }

            $("#btnSave").click(function () {
                var orderDetail = {};
                orderDetail.OrderID = orderId;
                orderDetail.ProductID = Number($("#productsSelect option:selected").val());
                orderDetail.Quantity = Number($("#cantidad").val());
                CreateOrderDetails(orderDetail);
            })

            function CreateOrderDetails(orderDetail) {
                console.log(orderDetail)
                $.ajax({
                    type: "POST",
                    url,
                    data: '{ request: ' + JSON.stringify(orderDetail) + ' }',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (response) {
                        console.log('ERROR')
                        console.log(response)
                    }
                });

                return false;
            }
        });
    </script>
}