
@model IEnumerable<FacturaWeb.Models.Order>

@{
    ViewBag.Title = "Listar Factura";
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <br>

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Facturas</h1>

    <br>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nueva Orden</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md my-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="clientId">Cliente</label>
                                </div>
                                <select class="custom-select" id="clientId" name="clientId">
                                    <option selected>Seleccionar...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md my-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="orderDdate">Fecha</label>
                                </div>
                                <input type="date" class="form-control" id="orderDdate" name="orderDdate" />
                            </div>
                        </div>
                        <div class="col-sm my-2">
                            <div class="input-group justify-content-center">
                                <a id="btnSave" class="btn btn-block mx-5 btn-primary">Crear Orden</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Filtros</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md my-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="clientId">Cliente</label>
                                </div>
                                <select class="custom-select" id="clientId" name="clientId">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">Cliente 1</option>
                                    <option value="2">Cliente 2</option>
                                    <option value="3">Cliente 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md my-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="productId">Producto</label>
                                </div>
                                <select class="custom-select" id="productId" name="productId">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">Prodcuto 1</option>
                                    <option value="2">Prodcuto 2</option>
                                    <option value="3">Prodcuto 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md my-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="facturaId"># Factura</label>
                                </div>
                                <input type="text" class="form-control" placeholder="Codigo de Factura" id="facturaId"
                                       name="facturaId" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md my-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="dateFrom">Fecha desde</label>
                                </div>
                                <input type="date" class="form-control" id="dateFrom" name="dateFrom" />
                            </div>
                        </div>
                        <div class="col-md my-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="dateTo">Fecha hasta</label>
                                </div>
                                <input type="date" class="form-control" id="dateTo" name="dateTo" />
                            </div>
                        </div>
                        <div class="col-sm my-2">
                            <div class="input-group justify-content-center">
                                <a id="btnSearch" class="btn btn-block mx-5 btn-primary">Buscar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Facturas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th># Factura</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Total</th>
                            <th>Acci&oacute;n</th>
                            <th>Ver</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th># Factura</th>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Total</th>
                            <th>Acci&oacute;n</th>
                            <th>Ver</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        console.log('https://localhost:44393' + '@Url.Action("GetOrders")');
        $(function () {
            LoadData();
            LoadAllClients();

            function LoadData() {
                $("#dataTable tbody tr").remove();

                $.ajax({
                    url: 'https://localhost:44393' + '@Url.Action("GetOrders")',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        $.each(data, function (i, item) {
                            var rows = "<tr id='row" + item.OrderID + "'>"
                                + "<td>" + item.OrderID + "</td>"
                                + "<td>" + item.OrderDate + "</td>"
                                + "<td>" + item.CustomerID + "</td>"
                                //+ "<td>" + item.Customer.FullName + "</td>"
                                + "<td>" + 1200 + "</td>"
                                //+ "<td>" + item.orderDetails + "</td>"
                                + `${
                                    item.Active
                                    ? "<td><a type='button' class='btn btn-danger' onclick='cancelOrder(" + item.OrderID + ")'>Cancelar</a></td>"
                                    : "<td><a type='button' class='btn btn-success' onclick='enableOrder(" + item.OrderID + ")'>Activar</a></td>"
                                }`
                                + "<td><a type='button' class='btn btn-info' href=/Order/Details/" + item.OrderID +">Detalles</a></td>"
                                //+ "<td><a type='button' class='btn btn-info' onclick='getDetails(" + item.OrderID + ")'>Detalles</a></td>"
                                + "</tr>";
                            $("#dataTable tbody").append(rows);
                        })
                    },
                    error: function (response) {
                        console.log(response)
                        var r = jQuery.parseJSON(response.responseText);
                        alert('Message: ' + r.Message);
                        alert('StackTrace: ' + r.StackTrace);
                        alert('ExceptionType: ' + r.ExceptionType);
                    }
                });

                return false;
            }

            $("#btnSave").click(function () {
                var order = {};
                order.CustomerID= Number($("#clientId option:selected").val());
                order.OrderDate = $("#orderDdate").val();
                //order.Active = true;
                CreateOrder(order);
            })

            function CreateOrder(order) {
                $.ajax({
                    type: "POST",
                    url: 'https://localhost:44393' + '@Url.Action("CreateOrder")',
                    data: '{ request: ' + JSON.stringify(order) + ' }',
                    //data: JSON.stringify(order),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (response) {
                        console.log('ERROR')
                        console.log(response)
                    }
                });
            }

            function LoadAllClients() {
                $.ajax({
                    url: 'https://localhost:44393' + '@Url.Action("GetCustomers")',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log('LoadAllClients');
                        console.log(data);
                        $.each(data, function (i, item) {
                            var option = `<option value=${item.CustomerID}>${item.FullName} (${item.DNI})</option>`;
                            $("#clientId").append(option);
                        })
                    },
                    error: function (response) {
                        console.log('ERROR')
                        console.log(response)
                    }
                });

                return false;
            }
        });
    </script>
}
