@{
    ViewBag.Title = "Factura - Trabajo Final";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <h2>INTEGRANTES:</h2>
            <ul>
                <li>Hervias Salas, Jadir Omar</li>
                <li>Mogoll&oacute;n Buitr&oacute;n, Khail Andr&eacute;s</li>
                <li>Salas Lej&oacute;a Geynaro Francisa</li>
                <li>Vizcarra Pedraza, Marco Aurelio</li>
            </ul>
        </div>
    </div>
</div>