@{
    ViewBag.Title = "Factura - Home";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <h1>FACTURA</h1>
        </div>
    </div>
</div>