
@{
    ViewBag.Title = "Detalle de Factura";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <br>

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Facturas</h1>

    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Productos Agregados a la Factura</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th>Eliminar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Marco Vizcarra</td>
                            <td>Laptop Nitro 5</td>
                            <td>1</td>
                            <td>S/. 3670.00</td>
                            <td>s/. 3670.00</td>
                            <td><a type="button" class="btn btn-danger">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->