
@{
    ViewBag.Title = "Crear Factura";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <br>

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Facturas</h1>

    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Productos Agregados a la Factura</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th>Eliminar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

@section Scripts
{
    <script type="text/javascript">

        const orderId = @Url.RequestContext.RouteData.Values["id"];
        const url = 'https://localhost:44393' + '@Url.Action("CreateOrder")';

        $(function () {
            LoadOrderDetails(orderId);

            function LoadOrderDetails(orderId) {
                $("#dataTable tbody tr").remove();
                $.ajax({
                    url: 'https://localhost:44393' + '@Url.Action("GetOrderDetailsById")' + '/' + orderId,
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        $.each(data, function (i, item) {
                            var rows = "<tr id='row" + item.OrderID + '-' + item.OrderDetailID + "'>"
                                + "<td>" + 'FALTA CLIENTE EN LA API!!!!' + "</td>"
                                + "<td>" + item.Product?.ProductName + "</td>"
                                + "<td>" + item.Quantity + "</td>"
                                + "<td>" + item.Product?.Price + "</td>"
                                + "<td>" + Math.round(item.Product?.Price ? (item.Product.Price * item.Quantity) : 0) + "</td>"
                                + "<td><a type='button' class='btn btn-danger' onclick='deleteDetail(" + item.OrderDetailID + ")'>Eliminar</a></td>"
                                + "</tr>";
                            $("#dataTable tbody").append(rows);
                        })
                    },
                    error: function (response) {
                        console.log('ERROR')
                        console.log(response)
                    }
                });

                return false;
            }
        });
    </script>
}